# üìò TASK 7: Basic Sales Summary using Python + SQLite

### üéØ Objective
Use SQL inside Python to pull simple sales info (like total quantity sold and total revenue) and display it using basic print statements and a simple bar chart.

### üß∞ Tools Used
- Python 3
- SQLite3 (built into Python)
- Pandas
- Matplotlib

## üß© Step 1: Import Libraries

In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

## üèóÔ∏è Step 2: Create SQLite Database and Table

In [ ]:
conn = sqlite3.connect('sales_data.db')
cursor = conn.cursor()

cursor.execute('DROP TABLE IF EXISTS sales')
cursor.execute('''
CREATE TABLE sales (
    order_id INTEGER,
    product TEXT,
    quantity INTEGER,
    price REAL
)
''')

## üßæ Step 3: Insert Sample Data

In [ ]:
sample_data = [
    (1, 'Laptop', 2, 75000),
    (2, 'Smartphone', 5, 20000),
    (3, 'Headphones', 10, 1500),
    (4, 'Keyboard', 4, 1200),
    (5, 'Monitor', 3, 10000),
    (6, 'Laptop', 1, 75000),
    (7, 'Smartphone', 2, 20000),
    (8, 'Headphones', 5, 1500)
]

cursor.executemany('INSERT INTO sales VALUES (?, ?, ?, ?)', sample_data)
conn.commit()

## üßÆ Step 4: Run SQL Query

In [ ]:
query = '''
SELECT 
    product,
    SUM(quantity) AS total_quantity,
    SUM(quantity * price) AS total_revenue
FROM sales
GROUP BY product
'''

df = pd.read_sql_query(query, conn)

## üìä Step 5: Display the Results

In [ ]:
print('=== Basic Sales Summary ===')
print(df)

## üìà Step 6: Plot Bar Chart of Revenue by Product

In [ ]:
plt.figure(figsize=(8,5))
plt.bar(df['product'], df['total_revenue'], color='skyblue')
plt.xlabel('Product')
plt.ylabel('Total Revenue (‚Çπ)')
plt.title('Revenue by Product')
plt.xticks(rotation=45)
plt.tight_layout()
plt.savefig('sales_chart.png')
plt.show()

## üîí Step 7: Close the Database Connection

In [ ]:
conn.close()

## ‚úÖ Outcome
You have successfully:
- Created a SQLite database and sales table
- Wrote and executed SQL queries
- Loaded results into pandas
- Visualized total revenue by product with matplotlib